In [1]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt 
import spacy 
import math
import scipy
import seaborn as sns
import ast

In [2]:
health_take_away = pd.read_pickle("C:/Users/61424/Desktop/MBusA/Module 5/Business Case Study/yelp_dataset/Competition/health_take_away.pkl")

In [3]:
business_clean4 = pd.read_pickle("C:/Users/61424/Desktop/MBusA/Module 5/Business Case Study/yelp_dataset/Business/business_clean4.pkl")

In [3]:
business_clean4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56742 entries, 0 to 56741
Data columns (total 14 columns):
business_id        56742 non-null object
category_token     56742 non-null object
address            56742 non-null object
city               56742 non-null object
is_open            56742 non-null int64
latitude           56742 non-null float64
longitude          56742 non-null float64
name               56742 non-null object
postal_code        56742 non-null object
review_count       56742 non-null int64
stars              56742 non-null float64
state              56742 non-null object
country            56742 non-null object
category_parent    56742 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 6.5+ MB

In [10]:
health_take_away_busienss_id = health_take_away['business_id'].unique()

In [11]:
health_take_away_business = business_clean4[business_clean4['business_id'].apply(lambda x: x in health_take_away_busienss_id)]

#Location Distribution

In [7]:
#Explore country:
country_1 = pd.DataFrame(health_take_away_business.groupby('country').count()['business_id'])
country_1['percentage'] = country_1.business_id / sum(country_1.business_id)
country_1

         business_id  percentage
country
Canada            13    0.067708
U.S              179    0.932292

In [8]:
#Explore country:
country_2 = pd.DataFrame(business_clean4.groupby('country').count()['business_id'])
country_2['percentage'] = country_2.business_id / sum(country_2.business_id)
country_2

         business_id  percentage
country
Canada         22659    0.399334
U.K                3    0.000053
U.S            34080    0.600613

#Compare to the overall dataset, our direct competitors are concentrated more in US

In [9]:
#Compare State and city
state_coverage = len(health_take_away_business['state'].unique())/len(business_clean4['state'].unique())
print("healthy take away has covered {} in all states".format(state_coverage))


#In U.S:
US_health = health_take_away_business[health_take_away_business['country'].apply(lambda x: x == 'U.S')]
US_business = business_clean4[business_clean4['country'].apply(lambda x: x == 'U.S')]

US_coverage = len(US_health['state'].unique())/len(US_business['state'].unique())
print("healthy take away has covered {} in U.S states".format(US_coverage))

#In Canada:
CA_health = health_take_away_business[health_take_away_business['country'].apply(lambda x: x == 'Canada')]
CA_business = business_clean4[business_clean4['country'].apply(lambda x: x == 'Canada')]

CA_coverage = len(CA_health['state'].unique())/len(CA_business['state'].unique())
print("healthy take away has covered {} in Canada states".format(CA_coverage))

location_1 = pd.DataFrame(health_take_away_business.groupby(['state','city']).count()['business_id']).sort_values(by=['business_id'], ascending = False)
location_1['percentage'] = location_1.business_id / sum(location_1.business_id)
location_1

healthy take away has covered 0.391304347826087 in all states
healthy take away has covered 0.5333333333333333 in U.S states
healthy take away has covered 0.14285714285714285 in Canada states

                           business_id  percentage
state city
PA    Pittsburgh                    17    0.088542
NC    Charlotte                     17    0.088542
AZ    Phoenix                       12    0.062500
NV    Las Vegas                     11    0.057292
AZ    Chandler                       8    0.041667
      Scottsdale                     6    0.031250
NV    Henderson                      6    0.031250
OH    Cleveland                      6    0.031250
WI    Madison                        6    0.031250
AZ    Tempe                          4    0.020833
IL    Champaign                      4    0.020833
AZ    Peoria                         3    0.015625
      Glendale                       3    0.015625
ON    Mississauga                    3    0.015625
NC    Concord                        3    0.015625
OH    Amherst                        3    0.015625
      Broadview Heights              2    0.010417
ON    Toronto                        2    0.010417
OH    Stow                           2    0.010417
      Mayfield Heights               2    0.010417
NC    Matthews                       2    0.010417
OH    Mentor                         2    0.010417
NC    Huntersville                   2    0.010417
OH    Strongsville                   2    0.010417
AZ    Mesa                           2    0.010417
      Goodyear                       2    0.010417
      Gilbert                        2    0.010417
ON    Thornhill                      1    0.005208
      Richmond Hill                  1    0.005208
      Ajax                           1    0.005208
...                                ...         ...
OH    Twinsburg                      1    0.005208
      South Euclid                   1    0.005208
AZ    Surprise                       1    0.005208
NC    Gastonia                       1    0.005208
      Indian Trail                   1    0.005208
      Pineville                      1    0.005208
OH    Akron                          1    0.005208
      Avon                           1    0.005208
      Bainbridge Township            1    0.005208
      Brecksville                    1    0.005208
      Brooklyn                       1    0.005208
      Brunswick                      1    0.005208
      Cuyahoga Falls                 1    0.005208
      Elyria                         1    0.005208
      Fairlawn                       1    0.005208
      Highland Heights               1    0.005208
      Hudson                         1    0.005208
      Independence                   1    0.005208
      Lakewood                       1    0.005208
      Medina                         1    0.005208
      Middleburg Heights             1    0.005208
      North Olmsted                  1    0.005208
      Northfield                     1    0.005208
      Parma                          1    0.005208
      Rocky River                    1    0.005208
      Seven Hills                    1    0.005208
      Shaker Heights                 1    0.005208
      Sheffield Village              1    0.005208
      Solon                          1    0.005208
      North Ridgeville               1    0.005208

[85 rows x 2 columns]

In [10]:
location_3 = pd.DataFrame(health_take_away_business.groupby('state').count()['business_id']).sort_values(by=['business_id'], ascending = False)
location_3['percentage'] = location_3.business_id / sum(location_3.business_id)
location_3

       business_id  percentage
state
OH              48    0.250000
AZ              44    0.229167
PA              31    0.161458
NC              27    0.140625
NV              17    0.088542
ON              13    0.067708
WI               7    0.036458
IL               4    0.020833
SC               1    0.005208

In [11]:
location_2 = pd.DataFrame(health_take_away_business.groupby(['state','city']).count()['business_id']).sort_values(by=['state','business_id'], ascending = False)
location_2['percentage'] = location_2.business_id / sum(location_2.business_id)
location_2

                            business_id  percentage
state city
WI    Madison                         6    0.031250
      Fitchburg                       1    0.005208
SC    Fort Mill                       1    0.005208
PA    Pittsburgh                     17    0.088542
      Allison Park                    1    0.005208
      Bethel Park                     1    0.005208
      Bridgeville                     1    0.005208
      McKees Rocks                    1    0.005208
      McMurray                        1    0.005208
      Monroeville                     1    0.005208
      Mount Lebanon                   1    0.005208
      Murrysville                     1    0.005208
      Oakmont                         1    0.005208
      Pleasant Hills                  1    0.005208
      Ross Township                   1    0.005208
      Tarentum                        1    0.005208
      West Homestead                  1    0.005208
      Wexford                         1    0.005208
ON    Mississauga                     3    0.015625
      Toronto                         2    0.010417
      Ajax                            1    0.005208
      Aurora                          1    0.005208
      Etobicoke                       1    0.005208
      Markham                         1    0.005208
      Oakville                        1    0.005208
      Richmond Hill                   1    0.005208
      Thornhill                       1    0.005208
      Vaughan                         1    0.005208
OH    Cleveland                       6    0.031250
      Amherst                         3    0.015625
...                                 ...         ...
      Seven Hills                     1    0.005208
      Shaker Heights                  1    0.005208
      Sheffield Village               1    0.005208
      Solon                           1    0.005208
      South Euclid                    1    0.005208
      Twinsburg                       1    0.005208
      Warrensville Heights            1    0.005208
      Westlake                        1    0.005208
      Willoughby                      1    0.005208
NV    Las Vegas                      11    0.057292
      Henderson                       6    0.031250
NC    Charlotte                      17    0.088542
      Concord                         3    0.015625
      Huntersville                    2    0.010417
      Matthews                        2    0.010417
      Gastonia                        1    0.005208
      Indian Trail                    1    0.005208
      Pineville                       1    0.005208
IL    Champaign                       4    0.020833
AZ    Phoenix                        12    0.062500
      Chandler                        8    0.041667
      Scottsdale                      6    0.031250
      Tempe                           4    0.020833
      Glendale                        3    0.015625
      Peoria                          3    0.015625
      Gilbert                         2    0.010417
      Goodyear                        2    0.010417
      Mesa                            2    0.010417
      Avondale                        1    0.005208
      Surprise                        1    0.005208

[85 rows x 2 columns]

#For Canada, healthy take away yet achieved average coverage. - Market yet saturated
#Seems they choose to crowd in one city for some state (Las Vegas - Nevada; Pittsburg - PA) but for OH, a lot of city of 1 or 2
#Maybe the model of choose one big city at the begining and then cover other close cities

In [12]:
#Popularity of category_parent

In [13]:
category_pop = pd.DataFrame(health_take_away_business.groupby('category_parent').count()['business_id']).sort_values('business_id', ascending = False)
category_pop['percentage'] = category_pop.business_id / sum(category_pop.business_id)
category_pop

                    business_id  percentage
category_parent
sandwiches                  163    0.848958
eventservices                18    0.093750
cafes                         3    0.015625
bakeries                      2    0.010417
breakfast & brunch            2    0.010417
delis                         2    0.010417
coffee & tea                  1    0.005208
fast food                     1    0.005208

#Insights: Most of healthy food take away business focuses on sandwiches - we have unique competitiveness yayyyy!

In [4]:
def get_bag_of_words (document):
    
    bag_of_words = {}
    
    #store the frequency of words:
    for line in document:
        for word in line:
            
            if word in bag_of_words:
                bag_of_words[word] +=1
            else:
                bag_of_words[word] = 1
                
    
    
    return bag_of_words

In [5]:
def two_gram_token(document):
    two_gram_list = []
    for line in document:
        length = len(line)
        i = 0
        two_gram_line = []
        
        while i < (length-1):
            two_gram = [line[i],line[i+1]]
            i += 1 
            two_gram_line.append(two_gram)
            
        two_gram_list.append(two_gram_line)
 
    return two_gram_list

In [6]:
def get_grams_of_words (document):
    
    bag_of_words = {}
    
    #store the frequency of words:
    for line in document:
        for word in line:
            word = tuple(word)
            if word in bag_of_words:
                bag_of_words[word] +=1
            else:
                bag_of_words[word] = 1
                
    
    
    return bag_of_words

In [7]:
#To sort dictionary:
def sort_freq(mydict):
    sorted_dict = sorted(mydict.items(), key=lambda kv: kv[1], reverse=True)
    return sorted_dict

In [12]:
health_two_gram = two_gram_token(health_take_away_business['category_token'])
health_two_gram_token_df = pd.DataFrame(sort_freq(get_grams_of_words(health_two_gram)))

In [13]:
token_category = sort_freq(get_bag_of_words(health_take_away_business['category_token']))
token_category_df = pd.DataFrame(token_category)
token_category_df.columns = ['category_token','freq']
token_category_df

               category_token  freq
0                 Restaurants   192
1                  Sandwiches   181
2                       Salad   170
3                        Soup   152
4                        Food   128
5          Breakfast & Brunch   102
6                      Bagels    95
7                    Bakeries    79
8                       Delis    26
9                       Cafes    22
10               Coffee & Tea    20
11                   Caterers    18
12  Event Planning & Services    18
13             American (New)     6
14     American (Traditional)     5
15                Gluten-Free     2
16             Internet Cafes     2
17                 Vegetarian     2
18                      Vegan     1
19                  Fast Food     1
20                    Italian     1
21                   Desserts     1

In [20]:
health_two_gram_token_df.columns = ['category_two_gram','freq']
health_two_gram_token_df

                                   category_two_gram  freq
0                                (Salad, Sandwiches)    36
1                          (Sandwiches, Restaurants)    28
2                                (Restaurants, Soup)    28
3                          (Restaurants, Sandwiches)    28
4                                (Food, Restaurants)    27
5                               (Salad, Restaurants)    26
6                                (Soup, Restaurants)    25
7                                      (Salad, Soup)    25
8                                 (Sandwiches, Food)    24
9                               (Restaurants, Salad)    22
10                                (Sandwiches, Soup)    21
11                               (Sandwiches, Salad)    21
12                                (Soup, Sandwiches)    20
13                                     (Soup, Salad)    20
14                                (Food, Sandwiches)    19
15                                 (Bakeries, Salad)    18
16                                    (Soup, Bagels)    18
17                           (Restaurants, Bakeries)    17
18                                    (Bagels, Food)    17
19                             (Bagels, Restaurants)    17
20                                     (Salad, Food)    17
21                  (Breakfast & Brunch, Sandwiches)    16
22                        (Breakfast & Brunch, Soup)    16
23                                   (Salad, Bagels)    15
24                                      (Soup, Food)    15
25                       (Salad, Breakfast & Brunch)    15
26                        (Food, Breakfast & Brunch)    15
27                        (Soup, Breakfast & Brunch)    14
28                       (Breakfast & Brunch, Salad)    14
29                 (Breakfast & Brunch, Restaurants)    14
..                                               ...   ...
109                     (Sandwiches, Internet Cafes)     1
110                         (Internet Cafes, Bagels)     1
111             (Sandwiches, American (Traditional))     1
112                   (American (Traditional), Food)     1
113                       (Bakeries, Internet Cafes)     1
114                           (Internet Cafes, Soup)     1
115                              (Vegetarian, Salad)     1
116  (Breakfast & Brunch, Event Planning & Services)     1
117              (Event Planning & Services, Bagels)     1
118                         (Restaurants, Fast Food)     1
119                              (Italian, Bakeries)     1
120             (Breakfast & Brunch, American (New))     1
121                                 (Soup, Caterers)     1
122                           (Caterers, Sandwiches)     1
123              (Bagels, Event Planning & Services)     1
124                       (Coffee & Tea, Sandwiches)     1
125                                   (Cafes, Salad)     1
126          (Event Planning & Services, Vegetarian)     1
127                              (Vegetarian, Delis)     1
128                             (Caterers, Desserts)     1
129                                 (Desserts, Food)     1
130                           (Bagels, Coffee & Tea)     1
131                       (American (New), Caterers)     1
132                  (American (Traditional), Cafes)     1
133                       (Restaurants, Gluten-Free)     1
134            (Restaurants, American (Traditional))     1
135             (American (Traditional), Sandwiches)     1
136                           (Food, American (New))     1
137                          (American (New), Salad)     1
138                  (Salad, American (Traditional))     1

[139 rows x 2 columns]

#Sandwich, Soup and Salad are three products that these kind of business really like!!!!!!

In [21]:
health_take_away_business['category_token_count'] = health_take_away_business['category_token'].apply(lambda x: len(x))

C:\Users\61424\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
health_take_away_business['category_token_count'].describe()

count    192.000000
mean       6.375000
std        1.885464
min        2.000000
25%        4.000000
50%        7.000000
75%        8.000000
max       10.000000
Name: category_token_count, dtype: float64

#But Most business doesn't wanna just sell sandwich, soup and salad

In [23]:
health_take_away_business

,business_id,category_token,address,city,is_open,latitude,longitude,name,postal_code,review_count,stars,state,country,category_parent,category_token_count
116,rtKB12BkQVb3x1e4diTIeA,"[Food, Sandwiches, Restaurants, Soup, Bakeries...",88 E Ocotillo Rd,Chandler,0,33.248168,-111.839765,Panera Bread,85248,21,2.5,AZ,U.S,sandwiches,6
198,MPPlVchUxAKCS-Dy-tMGAg,"[Salad, Bagels, Breakfast & Brunch, Sandwiches...",9350 Yonge Street,Richmond Hill,1,43.856858,-79.434457,Panera Bread,L4C 5G2,53,3.0,ON,Canada,sandwiches,8
647,TlwnrbGJA1jiudJBUWs1hQ,"[Sandwiches, Bagels, Soup, Breakfast & Brunch,...",32305 Lorain Rd,North Ridgeville,1,41.385899,-81.975100,Panera Bread,44039,19,3.0,OH,U.S,sandwiches,8
960,iWGO0_z8Rdwd3ZViapwRhg,"[Soup, Sandwiches, Restaurants, Salad]",2000 E Rio Salado Pkwy,Tempe,1,33.432945,-111.905582,Panera Bread,85281,52,2.5,AZ,U.S,sandwiches,4
1180,WuTdb365xF8kY2KAu6gm9A,"[Restaurants, Breakfast & Brunch, Sandwiches, ...",4899 William Penn Hwy,Murrysville,1,40.421806,-79.661538,Panera Bread,15668,7,3.0,PA,U.S,sandwiches,7
1192,W_hc8EBepLQNbo-OpOW4Og,"[Bagels, Soup, Salad, Restaurants, Food, Sandw...",4960 William Flynn Hwy,Allison Park,1,40.602218,-79.945617,Panera Bread,15101,14,2.0,PA,U.S,sandwiches,7
2718,0J9lSi-jNa6FLXI9sTNpZQ,"[Bagels, Restaurants, Sandwiches, Soup, Breakf...",6345 Wilson Mills Rd,Highland Heights,1,41.539594,-81.451432,Panera Bread,44143,32,2.0,OH,U.S,sandwiches,8
3430,700A-sisAtKIqGEcR7gASg,"[Sandwiches, Soup, Restaurants, Salad, Cafes]",3991 S Arizona Ave,Chandler,1,33.248227,-111.839767,Panera Bread,85248,119,2.5,AZ,U.S,sandwiches,5
3470,Zbjl53pR2W0jMrGFPM0Ssw,"[Restaurants, Salad, Sandwiches, Soup]",7240 S Rainbow Blvd,Las Vegas,1,36.057398,-115.242217,Panera Bread,89118,75,2.5,NV,U.S,sandwiches,4
3977,AMsfjpim5WohOzQJOtLyQg,"[Sandwiches, Restaurants, Delis, Salad, Catere...",1281 W Warm Springs Rd,Henderson,1,36.055904,-115.041270,Jason's Deli,89014,172,4.0,NV,U.S,eventservices,6
4508,EMrghF81px-wnNqEYqA0Kw,"[Breakfast & Brunch, Soup, Food, Sandwiches, R...",740 S Rampart Blvd,Las Vegas,1,36.163279,-115.289162,Panera Bread,89145,169,3.0,NV,U.S,sandwiches,8
5547,RE4QDOrYgLYsj2TgygjyyA,"[Salad, Soup, Sandwiches, Restaurants]",2502 E Camelback Rd,Phoenix,0,33.510257,-112.028930,Panera Bread,85016,29,2.0,AZ,U.S,sandwiches,4
5691,gecqbUz6uQ8PckqF-J8tFQ,"[Salad, Sandwiches, Soup, Restaurants]",8800 Covenant Ave,Pittsburgh,1,40.570246,-80.021791,Panera Bread,15237,32,2.5,PA,U.S,sandwiches,4
5718,ZkgijJ3jiVb1H9K26UhGdA,"[Breakfast & Brunch, Bagels, Soup, Sandwiches,...",17090 Royalton Rd,Strongsville,1,41.314169,-81.834720,Panera Bread,44136,12,3.0,OH,U.S,sandwiches,7
5796,XpnkPS-56dYTdjwC8RRLuw,"[Sandwiches, Restaurants, Salad, Soup]",1707 W Warner Rd,Tempe,1,33.334007,-111.967197,Panera Bread,85284,55,2.5,AZ,U.S,sandwiches,4
5992,aaDEAJhjE3ZPxO2gXgCh9Q,"[Soup, Salad, Restaurants, Sandwiches]",20199 N 67th Ave,Glendale,1,33.667057,-112.202588,Panera Bread,85308,67,2.0,AZ,U.S,sandwiches,4
6489,-kyvpeXIuQDKIYDkAK7ryw,"[Restaurants, Bagels, Breakfast & Brunch, Bake...",5940 Fairview Rd,Charlotte,1,35.151154,-80.841072,Panera Bread,28210,50,3.0,NC,U.S,sandwiches,8
6637,hupeXWY97YCwZQYC79F6hQ,"[Bagels, Breakfast & Brunch, Soup, Bakeries, F...",8152 S Tryon St,Charlotte,1,35.144005,-80.932129,Panera Bread,28273,90,3.0,NC,U.S,sandwiches,8
7018,096qNc7waeRlReivCm2lXw,"[Food, Bakeries, Restaurants]",2049 E 100th St,Cleveland,0,41.502366,-81.617652,Au Bon Pain,44106,18,3.5,OH,U.S,bakeries,3
7296,tvxI5iRImLnPdLbiI1HXhA,"[Breakfast & Brunch, Food, Soup, Restaurants, ...",2530 Winston Park Drive,Oakville,1,43.516674,-79.686948,Panera Bread,L6H 7E5,25,3.0,ON,Canada,sandwiches,7
7774,bxUtoCqGF9GbiPv5DbOs4g,"[Bakeries, Salad, Breakfast & Brunch, Food, Ba...",14835 Ballantyne Village Way,Charlotte,1,35.053051,-80.850809,Panera Bread,28277,58,3.0,NC,U.S,sandwiches,8
7832,zbbQdTc22S9ROibEimKHAw,"[Salad, Sandwiches, Delis, Restaurants, Event ...",210 E Trade St,Charlotte,1,35.225190,-80.842297,Jason's Deli,28202,60,4.0,NC,U.S,eventservices,6
7890,gYY9U9CXRS12O-oUFoO0cg,"[Breakfast & Brunch, Salad, Sandwiches, Food, ...",3401 Boulevard Of The Allies,Pittsburgh,1,40.436272,-79.958116,Panera Bread,15213,33,3.0,PA,U.S,sandwiches,7
8050,ozbJnrIXXOLWmriHdUnI6g,"[Sandwiches, Salad, Soup, Restaurants]",8109 W Ridgewood Dr,Parma,1,41.384195,-81.741537,Panera Bread,44129,16,3.5,OH,U.S,sandwiches,4
8281,vL2XhH5KWVY9ZV6SCjmwCQ,"[Salad, Bagels, Soup, Breakfast & Brunch, Food...",601 Junction Rd,Madison,1,43.073189,-89.524889,Panera Bread,53717,33,3.0,WI,U.S,sandwiches,7
8287,0FHfkDxKSeDuyAEeaY6X-Q,"[Sandwiches, Salad, Restaurants, Soup]",365 Hughes Center Dr,Las Vegas,1,36.114960,-115.155506,Panera Bread,89169,121,3.5,NV,U.S,sandwiches,4
8313,BxRTF1hmGAzMzkTDsEp2gw,"[Bagels, Bakeries, Salad, Food, Breakfast & Br...",7175 W Lake Mead Blvd,Las Vegas,1,36.195762,-115.248815,Panera Bread,89128,250,3.5,NV,U.S,sandwiches,8
8640,mEx2NJBepbnVSjZG6MqwJA,"[Breakfast & Brunch, Restaurants, Salad, Soup,...",26137 Detroit Rd,Westlake,1,41.468284,-81.909276,Panera Bread,44145,21,2.5,OH,U.S,sandwiches,8
8798,WkAVUoyX69LLfeS9cMSm5g,"[Restaurants, Salad, Sandwiches, Food, Breakfa...",3625 W Tyvola Rd,Charlotte,1,35.182921,-80.915799,Panera Bread,28208,28,2.0,NC,U.S,sandwiches,7
9004,z4g0S2U5c4JPgWhu1TWYzg,"[Sandwiches, Soup, Bagels, Breakfast & Brunch,...",7357 Mentor Ave,Mentor,1,41.654004,-81.378417,Panera Bread,44060,30,2.5,OH,U.S,sandwiches,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47454,eUSEDA0FpFMAjsyQFKHEGg,"[American (Traditional), Cafes, Restaurants, G...","15507 N Scottsdale Rd, Ste 100",Scottsdale,0,33.628263,-111.924887,Corner Bakery Cafe,85254,109,3.5,AZ,U.S,sandwiches,6
47731,vhRdqyI0GpB74V9m1iH15A,"[Soup, Sandwiches, Food, Bagels, Breakfast & B...",1633 Golden Gate Plz,Mayfield Heights,0,41.516152,-81.450654,Panera Bread,44124,7,3.5,OH,U.S,sandwiches,8
48007,YUxp_du_s8VX_uJxUEypHQ,"[Salad, Sandwiches, Soup, Bagels, Restaurants,...",7998 Leavitt Rd,Amherst,1,41.378799,-82.211265,Panera Bread,44001,4,3.0,OH,U.S,sandwiches,7
48108,qFwc6pD29qnTgd9tZDRYig,"[Breakfast & Brunch, Soup, Food, Restaurants, ...",616 E Green St,Champaign,1,40.110470,-88.229430,Panera Bread,61820,24,2.5,IL,U.S,sandwiches,8
48885,o1yMcjCbdBFELO2zF7rZKQ,"[Sandwiches, Soup, Bagels, Salad, Food, Breakf...",3895 Medina Rd,Akron,1,41.138531,-81.640275,Panera Bread,44333,13,2.0,OH,U.S,sandwiches,7
49054,vaImqMx2YCw7ZTMzl1hxSw,"[Sandwiches, Salad, Food, Soup, Restaurants, C...",2575 Eglinton Avenue W,Mississauga,1,43.557661,-79.708639,Panera Bread,L5M 5H7,27,3.0,ON,Canada,sandwiches,6
49198,Gvj_nneJoAvB7MkVWvAxmQ,"[Salad, Sandwiches, Food, Restaurants, Bagels,...",55 Square One Drive Unit #1,Mississauga,1,43.596925,-79.642639,Panera Bread,L5B 0E2,58,3.5,ON,Canada,sandwiches,8
49396,rLwxan_oYkL-m8ldqsHuiA,"[Soup, Food, Restaurants, American (Traditiona...",2627 E Springs Dr,Madison,1,43.131264,-89.301283,Panera Bread,53704,62,2.5,WI,U.S,sandwiches,9
49523,TT68Q6iHmIe3zdETNKRC6A,"[Salad, Food, Soup, Sandwiches, Restaurants]",2845 N Central Ave,Phoenix,1,33.479872,-112.073265,Panera Bread,85012,169,2.5,AZ,U.S,sandwiches,5
49526,oKCPpuBN2QHBoRV3Tc6-3A,"[Restaurants, Coffee & Tea, Soup, Breakfast & ...",6700 Rockside Rd,Independence,1,41.393934,-81.643735,Panera Bread,44131,36,3.0,OH,U.S,sandwiches,9
49692,wNCmc346Z2qaXYXBaox9MQ,"[Food, Soup, Salad, Bagels, Sandwiches, Breakf...",9309 Center Lake Dr,Charlotte,1,35.349778,-80.854491,Panera Bread,28216,61,3.0,NC,U.S,sandwiches,7
50100,H49dwF7meLTuP0haqIhHCA,"[Food, Breakfast & Brunch, Sandwiches, Restaur...",201 S College St,Charlotte,1,35.224819,-80.843626,Panera Bread,28244,45,3.0,NC,U.S,sandwiches,8
50430,nG59soBP2SaQ25rf2n-0bA,"[Food, Restaurants, Bakeries, Sandwiches, Cafe...",1905 S Neil St,Champaign,0,40.092944,-88.245995,Atlanta Bread,61820,43,3.0,IL,U.S,sandwiches,6
50535,7_Eh1VvtKPmQvYNB1OTGWw,"[Salad, Bagels, Food, Restaurants, Bakeries, S...",7510 Pineville Matthews Rd,Charlotte,1,35.087992,-80.846242,Panera Bread,28226,63,2.5,NC,U.S,sandwiches,8
50640,akCp7BceIrkkeOV5ndI_bQ,"[Restaurants, Bakeries, Cafes, Food]",600 Superior Ave E,Cleveland,1,41.503609,-81.709142,Au Bon Pain,44114,18,3.5,OH,U.S,cafes,4
51857,hbYY29onGCq0yux6rFhb9w,"[Breakfast & Brunch, Food, Bagels, Soup, Resta...",250 McHolme Dr,Pittsburgh,1,40.449350,-80.174279,Panera Bread,15275,28,2.5,PA,U.S,sandwiches,7
52018,1ytwQT_hlhoxvgDzts4Osg,"[Salad, Sandwiches, Restaurants, Soup]",21001 N Tatum Blvd,Phoenix,0,33.676354,-111.973651,Panera Bread,85050,5,2.0,AZ,U.S,sandwiches,4
52215,ovuL7n30fogNHrIc51uSgQ,"[Breakfast & Brunch, Restaurants, Salad, Soup,...",210 W Bridge St,West Homestead,1,40.407174,-79.916603,Panera Bread,15120,44,3.0,PA,U.S,sandwiches,7
52459,OqHdJerbhl4qaQGezmUC5w,"[Salad, Restaurants, Cafes, Sandwiches, Soup]",5935 Mavis Road,Mississauga,1,43.611447,-79.693279,Panera Bread,L5R 3T7,43,2.5,ON,Canada,sandwiches,5
52591,_vj8nh6MceJLInLoMRA38g,"[Salad, Bagels, Sandwiches, Soup, Food, Breakf...",9905 Knockando Dr,Huntersville,1,35.442832,-80.859496,Panera Bread,28078,43,2.5,NC,U.S,sandwiches,7
52913,bBTTZAitpCPYQgPen6VP3w,"[Restaurants, Soup, Salad, Sandwiches]",14884 N Pima Rd,Scottsdale,1,33.619807,-111.892223,Panera Bread,85260,37,3.0,AZ,U.S,sandwiches,4
53203,mNMVqHsgJq6YErFPfaUlig,"[Bakeries, Sandwiches, Delis, Food, Restaurants]",707 Grant St,Pittsburgh,1,40.442470,-79.995298,Au Bon Pain,15219,11,3.0,PA,U.S,sandwiches,5
53690,vwUzePEuGsLXLDfuRjzOXg,"[Food, Restaurants, Bagels, Breakfast & Brunch]","1550 N Dysart Rd, Ste A1",Goodyear,1,33.463638,-112.341450,Einstein Bagels,85338,63,3.0,AZ,U.S,breakfast & brunch,4
53803,358UeNvBBE03JKX3u2FtLQ,"[Restaurants, Event Planning & Services, Salad...",10217 N Metro Pkwy W,Phoenix,1,33.578871,-112.123659,Jason's Deli,85051,98,3.5,AZ,U.S,eventservices,6
53810,ue8bZWB2msoRf5gSxNwgYQ,"[Bagels, Salad, Soup, Sandwiches, Food, Breakf...",46402 Middle Ridge Rd,Amherst,1,41.379852,-82.222956,Panera Bread,44001,18,2.5,OH,U.S,sandwiches,7
55617,wWvNr1sWlueHRqQrssc3iA,"[Bakeries, Restaurants, Soup, Sandwiches, Food...",1309 Broadcloth St,Fort Mill,1,35.025155,-80.961150,Panera Bread,29715,30,2.5,SC,U.S,sandwiches,8
55643,7Qpn2DvgIUpOJQdI4DXETQ,"[Restaurants, Soup, Bagels, Food, Breakfast & ...",7217 Mcknight Rd,Ross Township,1,40.537139,-80.013116,Panera Bread,15237,13,2.5,PA,U.S,sandwiches,8
55901,-vw3-EFSXYuNcRSr9SzwoA,"[Salad, Delis, Restaurants, Sandwiches]","10605 N Scottsdale Rd, Ste 101",Scottsdale,1,33.582848,-111.925581,Jason's Deli,85260,141,4.0,AZ,U.S,sandwiches,4
56590,EDXAuLL-tbnAA_PZRsnxGw,"[Salad, Soup, Sandwiches, Restaurants, Bakerie...",13959 W Bell Rd,Surprise,1,33.638203,-112.361080,Panera Bread,85374,42,2.5,AZ,U.S,sandwiches,7
56673,CN1vDSH8Td0snM9Rogjeng,"[Restaurants, Breakfast & Brunch, Sandwiches, ...",4301 Richmond Rd,Warrensville Heights,1,41.444810,-81.497173,Panera Bread,44122,33,2.5,OH,U.S,sandwiches,8

#Explore Business Characteristics

In [8]:
business_attributes = pd.read_pickle("C:/Users/61424/Desktop/MBusA/Module 5/Business Case Study/yelp_dataset/business_attributes.pkl")

In [25]:
business_attributes.columns

Index(['business_id', 'RestaurantsReservations', 'GoodForMeal',
       'BusinessParking', 'Caters', 'NoiseLevel', 'RestaurantsTableService',
       'RestaurantsTakeOut', 'RestaurantsPriceRange2', 'OutdoorSeating',
       'BikeParking', 'Ambience', 'HasTV', 'WiFi', 'GoodForKids', 'Alcohol',
       'RestaurantsAttire', 'RestaurantsGoodForGroups', 'RestaurantsDelivery',
       'BusinessAcceptsCreditCards', 'BYOBCorkage', 'DriveThru', 'HappyHour',
       'Smoking', 'WheelchairAccessible', 'DogsAllowed', 'CoatCheck', 'Music',
       'BestNights', 'BusinessAcceptsBitcoin', 'GoodForDancing', 'Corkage',
       'BYOB', 'ByAppointmentOnly', 'AgesAllowed', 'AcceptsInsurance',
       'DietaryRestrictions', 'HairSpecializesIn', 'Open24Hours',
       'RestaurantsCounterService'],
      dtype='object')

In [26]:
business_attributes['HappyHour'].unique()

array([nan, 'False', 'True', 'None'], dtype=object)

#Key factor: , 'RestaurantsReservations', 'GoodForMeal','BusinessParking', 'Caters', 'NoiseLevel', 'RestaurantsTableService',
#'RestaurantsTakeOut', 'RestaurantsPriceRange2', 'OutdoorSeating', 'GoodForKids', 'Alcohol',
#'RestaurantsAttire', 'RestaurantsGoodForGroups', 'RestaurantsDelivery',

In [27]:
business_attributes['NoiseLevel'] = business_attributes['NoiseLevel'].apply(lambda x: str(x).replace('u',''))

In [10]:
part_attributes = ['business_id','RestaurantsReservations', 'Caters', 'NoiseLevel', 'RestaurantsTableService',
'RestaurantsTakeOut', 'RestaurantsPriceRange2', 'OutdoorSeating', 'GoodForKids', 'Alcohol',
'RestaurantsAttire', 'RestaurantsGoodForGroups', 'RestaurantsDelivery']
business_attributes_part = business_attributes.loc[:,part_attributes]

In [11]:
business_attributes_part
health_take_away_attributes = business_attributes_part[business_attributes_part['business_id'].apply(lambda  x: x in health_take_away_busienss_id)]

In [30]:
health_take_away_attributes.info()
len(health_take_away_attributes.dropna())
#I won't drop na here

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 119 to 59301
Data columns (total 13 columns):
business_id                 192 non-null object
RestaurantsReservations     184 non-null object
Caters                      151 non-null object
NoiseLevel                  192 non-null object
RestaurantsTableService     80 non-null object
RestaurantsTakeOut          188 non-null object
RestaurantsPriceRange2      182 non-null object
OutdoorSeating              171 non-null object
GoodForKids                 185 non-null object
Alcohol                     168 non-null object
RestaurantsAttire           178 non-null object
RestaurantsGoodForGroups    186 non-null object
RestaurantsDelivery         185 non-null object
dtypes: object(13)
memory usage: 21.0+ KB

73

In [31]:
#RestaurantReservations
health_reservation = pd.DataFrame(health_take_away_attributes.groupby('RestaurantsReservations').count()['business_id'])
business_reservation = pd.DataFrame(business_attributes_part.groupby('RestaurantsReservations').count()['business_id'])
health_reservation['percentage'] = health_reservation.business_id / sum(health_reservation.business_id)
business_reservation['percentage'] = business_reservation.business_id / sum(business_reservation.business_id)

health_reservation

                         business_id  percentage
RestaurantsReservations
False                            183    0.994565
True                               1    0.005435

In [32]:
print(business_reservation)

                         business_id  percentage
RestaurantsReservations
False                          30807    0.611117
None                              43    0.000853
True                           19561    0.388030

 Compared to the industry average, health takeaway dosent require/take reservation that much

In [33]:
#Caters
health_caters = pd.DataFrame(health_take_away_attributes.groupby('Caters').count()['business_id'])
business_caters = pd.DataFrame(business_attributes_part.groupby('Caters').count()['business_id'])
health_caters['percentage'] = health_caters.business_id / sum(health_caters.business_id)
business_caters['percentage'] = business_caters.business_id / sum(business_caters.business_id)

health_caters

        business_id  percentage
Caters
False             8    0.052980
None              1    0.006623
True            142    0.940397

In [34]:
business_caters

        business_id  percentage
Caters
False         16005    0.458491
None            112    0.003208
True          18791    0.538301

In [35]:
#NoiseLevel
health_noise_level = pd.DataFrame(health_take_away_attributes.groupby('NoiseLevel').count()['business_id'])
business_noise_level = pd.DataFrame(business_attributes_part.groupby('NoiseLevel').count()['business_id'])
health_noise_level['percentage'] = health_noise_level.business_id / sum(health_caters.business_id)
business_noise_level['percentage'] = business_noise_level.business_id / sum(business_caters.business_id)

health_noise_level

            business_id  percentage
NoiseLevel
'average'           120    0.794702
'lod'                13    0.086093
'qiet'               24    0.158940
'very_lod'            1    0.006623
None                  1    0.006623
nan                  33    0.218543

In [36]:
business_noise_level

            business_id  percentage
NoiseLevel
'average'         27005    0.773605
'lod'              3369    0.096511
'qiet'             9400    0.269279
'very_lod'         1206    0.034548
None                 66    0.001891
nan               18325    0.524951

In [37]:
#Noise Level: overall similar to the industry average but less in quiet

In [38]:
#RestaurantsTableService
health_table_service = pd.DataFrame(health_take_away_attributes.groupby('RestaurantsTableService').count()['business_id'])
business_table_service = pd.DataFrame(business_attributes_part.groupby('RestaurantsTableService').count()['business_id'])
health_table_service['percentage'] = health_table_service.business_id / sum(health_table_service.business_id)
business_table_service['percentage'] = business_table_service.business_id / sum(business_table_service.business_id)

health_table_service

                         business_id  percentage
RestaurantsTableService
False                             65      0.8125
True                              15      0.1875

In [39]:
business_table_service

                         business_id  percentage
RestaurantsTableService
False                           6413    0.373870
None                              29    0.001691
True                           10711    0.624439

#Apparently, health take away segment doesnt provide table serice that often compared to the industry average

In [40]:
#RestaurantsTakeOut
health_takeout = pd.DataFrame(health_take_away_attributes.groupby('RestaurantsTakeOut').count()['business_id'])
business_takeout = pd.DataFrame(business_attributes_part.groupby('RestaurantsTakeOut').count()['business_id'])
health_takeout['percentage'] = health_takeout.business_id / sum(health_takeout.business_id)
business_takeout['percentage'] = business_takeout.business_id / sum(business_takeout.business_id)

health_takeout

                    business_id  percentage
RestaurantsTakeOut
True                        188         1.0

In [41]:
business_takeout

                    business_id  percentage
RestaurantsTakeOut
False                      3364    0.064306
None                         52    0.000994
True                      48896    0.934699

#100% of the health takeaway support takeout but just pretty much the same as the industry

In [42]:
#RestaurantsPriceRange2
health_pricerange = pd.DataFrame(health_take_away_attributes.groupby('RestaurantsPriceRange2').count()['business_id'])
business_pricerange = pd.DataFrame(business_attributes_part.groupby('RestaurantsPriceRange2').count()['business_id'])
health_pricerange['percentage'] = health_pricerange.business_id / sum(health_pricerange.business_id)
business_pricerange['percentage'] = business_pricerange.business_id / sum(business_pricerange.business_id)

health_pricerange

                        business_id  percentage
RestaurantsPriceRange2
1                               104    0.571429
2                                78    0.428571

In [43]:
business_pricerange

                        business_id  percentage
RestaurantsPriceRange2
1                             20914    0.401490
2                             27786    0.533413
3                              2837    0.054462
4                               506    0.009714
None                             48    0.000921

#So apparently, compared to the overall industry, health takeaway falls into the lower price range (1,2)

In [44]:
#OutdoorSeating
health_outdoorseating = pd.DataFrame(health_take_away_attributes.groupby('OutdoorSeating').count()['business_id'])
business_outdoorseating = pd.DataFrame(business_attributes_part.groupby('OutdoorSeating').count()['business_id'])
health_outdoorseating['percentage'] = health_outdoorseating.business_id / sum(health_outdoorseating.business_id)
business_outdoorseating['percentage'] = business_outdoorseating.business_id / sum(business_outdoorseating.business_id)

health_outdoorseating

                business_id  percentage
OutdoorSeating
False                    31    0.181287
None                      1    0.005848
True                    139    0.812865

In [45]:
business_outdoorseating

                business_id  percentage
OutdoorSeating
False                 29356    0.607508
None                     61    0.001262
True                  18905    0.391230

#Compared to the industry, apparently the health takeaway sector have a lot a lot outdoor seating

In [46]:
#GoodForKids 
health_forkids = pd.DataFrame(health_take_away_attributes.groupby('GoodForKids').count()['business_id'])
business_forkids = pd.DataFrame(business_attributes_part.groupby('GoodForKids').count()['business_id'])
health_forkids['percentage'] = health_forkids.business_id / sum(health_forkids.business_id)
business_forkids['percentage'] = business_forkids.business_id / sum(business_forkids.business_id)

health_forkids

             business_id  percentage
GoodForKids
True                 185         1.0

In [47]:
business_forkids

             business_id  percentage
GoodForKids
False               8631    0.170368
None                  52    0.001026
True               41978    0.828606

In [49]:
#RestaurantsGoodForGroups
health_forgroups = pd.DataFrame(health_take_away_attributes.groupby('RestaurantsGoodForGroups').count()['business_id'])
business_forgroups = pd.DataFrame(business_attributes_part.groupby('RestaurantsGoodForGroups').count()['business_id'])
health_forgroups['percentage'] = health_forgroups.business_id / sum(health_forgroups.business_id)
business_forgroups['percentage'] = business_forgroups.business_id / sum(business_forgroups.business_id)

health_forgroups

                          business_id  percentage
RestaurantsGoodForGroups
False                               5    0.026882
None                                1    0.005376
True                              180    0.967742

In [50]:
business_forgroups

                          business_id  percentage
RestaurantsGoodForGroups
False                            7036    0.138061
None                               38    0.000746
True                            43889    0.861193

In [51]:
#RestaurantsDelivery'
health_delivery = pd.DataFrame(health_take_away_attributes.groupby('RestaurantsDelivery').count()['business_id'])
business_delivery = pd.DataFrame(business_attributes_part.groupby('RestaurantsDelivery').count()['business_id'])
health_delivery['percentage'] = health_delivery.business_id / sum(health_delivery.business_id)
business_delivery['percentage'] = business_delivery.business_id / sum(business_delivery.business_id)

health_delivery

                     business_id  percentage
RestaurantsDelivery
False                        114    0.616216
None                           2    0.010811
True                          69    0.372973

In [52]:
business_delivery

                     business_id  percentage
RestaurantsDelivery
False                      36982    0.742432
None                          51    0.001024
True                       12779    0.256545

#Seemed health takeaway tend to do more food delivery

 A bit more data cleaning - just ignore

In [76]:
#'GoodForMeal','BusinessParking'
GoodForMeal = business_attributes.loc[:,['business_id','GoodForMeal']]

GoodForMeal = GoodForMeal.dropna()
GoodForMeal['GoodForMeal'] = GoodForMeal['GoodForMeal'].apply(lambda x: ast.literal_eval(x))

In [78]:
attributes_list = GoodForMeal['GoodForMeal'].apply(pd.Series)
GoodForMeal = pd.concat([GoodForMeal.drop(['GoodForMeal'], axis=1), attributes_list], axis=1)
GoodForMeal

                  business_id dessert latenight  lunch dinner brunch breakfast
0      QXAEGFB4oINsVuTFxEYKFQ   False     False   True   True  False     False
1      gnKjwL_1w79qoiV3IC_xQQ   False     False   True   True  False     False
5      1RHY4K3BD22FK7Cfftn8Mg   False     False  False  False  False     False
6      tstimHoMcYbkSC4eBA1wEg   False     False   True   True  False     False
11     mlHC2XcU9Bows6cnYEmRgg   False     False  False  False  False     False
13     6l00a9Gkxkcp_y-GPjYBiw   False     False   True   True  False     False
14     dQj5DLZjeDK3KFysh1SYOQ   False     False  False   True  False     False
15     9UTpmQ4OhX5jNFUIu7dPPQ   False     False   True   True  False     False
16     v-scZMU6jhnmV955RSzGJw   False     False   True  False  False     False
18     KFbUQ-RR2UOV62Ep7WnXHw   False     False  False  False  False     False
19     44YFU284Z3KDEy25QyVoUw   False     False   True   True  False     False
20     PkDghu4aan2_wxrhXjTEgg   False     False  False  False  False     False
22     i_oghUPqLzzJtxC6Zm-D2A   False     False   True   True  False     False
23     RFbMVekR8lU9tPJ8sWrwHg   False     False  False   True  False     False
28     7aLkFEBnL1LJmQdcuaovuQ   False     False  False  False  False     False
29     qJeSjOMgWB3er3UXG33ZVw   False     False   True   True  False     False
30     gyFYZV4b_9TxG1ulQNi0Ig   False     False  False  False  False     False
31     OezwOIJ0_62Mj8MLdkGRAw   False     False  False  False  False     False
35     ysfeDcLAYk_MVzfBmyiSTg   False     False   True  False  False     False
39     L0aSDVHNXCl6sY4cfZQ-5Q   False     False   True   True  False     False
43     jScBTQtdAt-8RshaiBEHgw   False     False   True  False   True      True
44     U3kygJOTlTQFlfaZS7sQjA   False     False   True   True  False     False
45     c35qzLN6ItDpVIoj2uQW4Q   False     False   True  False  False     False
46     nsNONDHbV7Vudqh21uicqw   False     False  False   True  False     False
48     SvUvVEr9cTjS-PJQ9MuckQ   False     False  False  False   True      True
49     IgQ8lSds3AgLFQsYsshUHQ   False     False  False  False  False     False
51     6fPQJq4f_yiq1NHn0fd11Q    True     False   True  False  False      True
52     k-dDZvTeLysoJvjHI-qr9g   False     False   True  False   True      True
54     T_tnCsUQmqTMEI3XxJAyOA   False     False   True  False  False     False
57     SJBzyJDCR_f6dx5tpYAABA   False     False  False  False  False     False
...                       ...     ...       ...    ...    ...    ...       ...
59308  CzqGem5OaPAk10bQK4bzbg   False     False   True   True  False     False
59310  qDv5GyT2tzlJrbtxqzasQA   False     False  False  False  False     False
59311  e-0uyskF3TpdZXPH8HeQ_w   False     False  False  False  False     False
59312  3xI0ToitrAJkrUSH4gbmCA   False     False  False  False  False     False
59314  fLdLjrLfwWJ-hh4Uwz2zKA    True     False   True   True  False     False
59319  cILk7PnJBxNsMmGhQU2cyA   False     False  False  False   True     False
59320  YVd2yYNjpiFg2s4ToMRmPA    True     False  False  False  False     False
59324  qRymrsLmlA34bC8PvNoujg   False     False   True   True  False     False
59325  P8uECqGqXWTwEndkh-6bQw   False      True  False   True  False     False
59327  _r-OvLO5wqncmsBCg3i0qw   False     False   True   True  False     False
59329  p5rpYtxS5xPQjt3MXYVEwA   False     False   True   True  False      True
59330  2JsLzYF8rUalwpm5LDEcog   False     False   True   True  False     False
59332  dJXFp02urBN7pMd5329D_g   False     False  False  False  False     False
59334  UT22ExffDZjB1tzBDwSWfA    True     False   True   True  False     False
59335  _T5qyfILFJOPJDB4BHDWTA    True     False  False  False  False     False
59337  KR7iTw9_aPpa3NUO3UkbAw   False     False  False  False  False     False
59338  q0dJc8hotCDoq3wzZ67Gug    True     False  False  False  False      True
59339  I3dQmMkfqMsThMAuqIkooA   False     False   True   True  False     False
59347  lq71ZTkANfb40sR0DAs6Rw   False     False  False  False  False     False
59348  cjZfgcQwA6KmQ_ANWKN2aw   False     False  False  False  False     False
59349  EkkowlqDV1DAktejgKXIxQ   False     False  False  False  False     False
59350  lZ8T7NFAo1JGAAopTV_OTQ   False     False   True   True  False     False
59351  Hq2edcOTjse7wjK2CwBijQ   False     False  False  False  False     False
59357  ngs16C2M_uTq2zXamltHVw   False     False   True  False  False     False
59358  0fY-zYyP2fDmp2YXFsuNTg   False     False  False  False  False     False
59361  JsRt9LPgv-7guVcY4u6OQA   False     False   True   True  False     False
59362  sVEE_Mp3EbWW1UIhfActVA   False     False  False  False  False     False
59364  lo8WwqKogC-kz4toRvkdUQ   False     False  False   True  False     False
59365  3HAPJH0Qoi8Ix6M9rUMfjg   False     False   True   True  False     False
59366  oS0CnUbyv0GUoD3L8_3UPQ   False     False   True   True  False     False

[29657 rows x 7 columns]

In [80]:
BusinessParking = business_attributes.loc[:,['business_id','BusinessParking']]

BusinessParking = BusinessParking.dropna()
BusinessParking['BusinessParking'] = BusinessParking['BusinessParking'].apply(lambda x: ast.literal_eval(x))

In [82]:
attributes_list = BusinessParking['BusinessParking'].apply(pd.Series)
BusinessParking = pd.concat([BusinessParking.drop(['BusinessParking'], axis=1), attributes_list], axis=1)
BusinessParking.columns = ['business_id','parking_garage','parking_street','parking_validated','parking_lot','parking_valet']
BusinessParking

,business_id,parking_garage,parking_street,parking_validated,parking_lot,parking_valet
0,QXAEGFB4oINsVuTFxEYKFQ,False,False,False,True,False
1,gnKjwL_1w79qoiV3IC_xQQ,False,False,False,True,False
2,1Dfx3zM-rW4n-31KeC8sJg,False,False,False,False,False
3,fweCYi8FmbJXHCqLnwuk8w,NaN,NaN,NaN,NaN,NaN
4,PZ-LZzSlhSe9utkQYU8pFg,False,False,False,True,False
5,1RHY4K3BD22FK7Cfftn8Mg,False,False,False,False,False
6,tstimHoMcYbkSC4eBA1wEg,False,False,False,True,False
7,NDuUMJfrWk52RA-H-OtrpA,False,True,False,False,False
8,SP_YXIEwkFPPl_9anCYmpQ,False,True,False,False,False
9,BvYU3jvGd0TJ7IyZdfiN2Q,False,False,False,True,False
10,e_EMySqP0uwlVZfd8mRaaQ,False,False,False,False,False
11,mlHC2XcU9Bows6cnYEmRgg,False,True,False,False,False
12,_J_x_RaYTqAqAuCwgRhnRQ,False,False,True,True,False
13,6l00a9Gkxkcp_y-GPjYBiw,False,False,False,True,False
14,dQj5DLZjeDK3KFysh1SYOQ,False,True,False,False,False
15,9UTpmQ4OhX5jNFUIu7dPPQ,False,False,False,True,False
16,v-scZMU6jhnmV955RSzGJw,False,True,False,False,False
17,kANF0dbeoW34s2vwh6Umfw,False,False,False,True,False
18,KFbUQ-RR2UOV62Ep7WnXHw,False,False,False,False,False
19,44YFU284Z3KDEy25QyVoUw,False,False,False,True,False
21,eXgDqKD7-sojyzh6q7PJ4g,False,True,False,True,False
22,i_oghUPqLzzJtxC6Zm-D2A,False,True,False,False,False
23,RFbMVekR8lU9tPJ8sWrwHg,False,True,False,False,False
25,NPHZkn1e-tSJAbo8Zm9rYw,False,True,False,False,False
26,jtlAfuINMCYVFpjwMgy2jw,False,False,False,True,False
28,7aLkFEBnL1LJmQdcuaovuQ,False,False,False,True,False
29,qJeSjOMgWB3er3UXG33ZVw,False,False,False,True,False
30,gyFYZV4b_9TxG1ulQNi0Ig,False,False,False,False,False
31,OezwOIJ0_62Mj8MLdkGRAw,False,False,False,False,False
32,0lFAD4CuWcQVl9u3-lRaCQ,False,False,False,True,False
...,...,...,...,...,...,...
59333,HSFUD5xNd5HKsXNt2uNy0Q,False,False,False,False,False
59334,UT22ExffDZjB1tzBDwSWfA,True,False,False,False,False
59335,_T5qyfILFJOPJDB4BHDWTA,False,True,False,False,False
59336,9NUZao5_Jfhj5H45H0ccOQ,False,False,False,False,False
59337,KR7iTw9_aPpa3NUO3UkbAw,False,False,False,False,False
59338,q0dJc8hotCDoq3wzZ67Gug,False,False,False,True,False
59339,I3dQmMkfqMsThMAuqIkooA,False,False,False,False,False
59340,z0nVjbfDw8eb7N57HWNg8w,False,False,False,False,False
59342,6KyDIOGT9EAzq1w4kb77ow,False,False,False,False,False
59344,-hec2e0Kj9yIVfOQKoFG6Q,False,False,False,True,False
59345,ckc3l8cSuggloG4NlquEFQ,False,False,False,False,False
59347,lq71ZTkANfb40sR0DAs6Rw,False,False,False,False,False
59348,cjZfgcQwA6KmQ_ANWKN2aw,False,False,False,False,False
59349,EkkowlqDV1DAktejgKXIxQ,False,False,False,False,False
59350,lZ8T7NFAo1JGAAopTV_OTQ,False,True,False,False,False
59351,Hq2edcOTjse7wjK2CwBijQ,False,False,False,False,False
59353,VD358OTsTLFuxOZJTOInKQ,False,False,False,False,False
59354,2XZ4g_ps_H55CmxFs4Pu8A,False,False,False,True,False
59357,ngs16C2M_uTq2zXamltHVw,False,True,False,True,False
59358,0fY-zYyP2fDmp2YXFsuNTg,False,False,False,True,False
59359,cfrN6-lQC-dzjBtNBjefpQ,False,False,False,False,False
59360,3rHMaoarZ13Qrafr2DeFcA,False,False,False,True,False
59361,JsRt9LPgv-7guVcY4u6OQA,False,False,False,False,False
59362,sVEE_Mp3EbWW1UIhfActVA,False,False,False,True,False
59364,lo8WwqKogC-kz4toRvkdUQ,True,True,False,False,False
59365,3HAPJH0Qoi8Ix6M9rUMfjg,False,False,False,True,False
59366,oS0CnUbyv0GUoD3L8_3UPQ,False,True,False,False,False
59367,ghovD5ZTGDQ5Q2U4ERddWw,False,False,False,True,False
59369,KnafX7T6qSAmSrLhd709vA,NaN,NaN,NaN,NaN,NaN
59370,p1eUTUB_5hf1enoKYBV3DA,False,False,False,True,False

In [86]:
business_attribute_3 = pd.merge(GoodForMeal,BusinessParking, on = 'business_id', how = 'inner')
business_attribute_3 = pd.merge(business_attribute_3, business_attributes, on = 'business_id', how = 'left')

In [12]:
health_take_away_price = health_take_away_attributes.loc[:,['business_id','RestaurantsPriceRange2']]
health_take_away_price = health_take_away_price.dropna()

In [93]:
business_attribute_3.to_pickle("C:/Users/61424/Desktop/MBusA/Module 5/Business Case Study/yelp_dataset/Business/business_attributes_3.pkl")

In [13]:
health_take_away_price.to_csv("C:/Users/61424/Desktop/MBusA/Module 5/Business Case Study/yelp_dataset/Operation/health_take_away_price.csv")